.banner {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.banner .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .swiper-pagination {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 40px;
  left: unset;
  width: 85px;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-align: center;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.banner .swiper-pagination > span {
  display: block;
  position: relative;
  opacity: 1;
  width: 85px;
  height: 85px;
  margin: 15px 0 !important;
  background-color: transparent;
  -webkit-transition: background-color ease .5s;
  transition: background-color ease .5s;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-align: center;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}

.banner .swiper-pagination > span > div {
  border-radius: 100%;
  overflow: hidden;
  width: 93%;
  height: 93%;
  background-color: black;
}

.banner .swiper-pagination > span > div .text {
  position: absolute;
  width: 40%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity ease .3s;
  transition: opacity ease .3s;
}

.banner .swiper-pagination > span > div .bg {
  -webkit-transition: opacity ease .3s;
  transition: opacity ease .3s;
  opacity: .5;
}

.banner .swiper-pagination .swiper-pagination-bullet-active {
  background-color: yellow;
}

.banner .swiper-pagination .swiper-pagination-bullet-active > div .text {
  opacity: 0;
}

.banner .swiper-pagination .swiper-pagination-bullet-active > div .bg {
  opacity: 1;
}

.banner .location {
  position: absolute;
  z-index: 1;
  right: 50px;
  left: unset;
  bottom: 30px;
}

.banner .location > div {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-align: center;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}

.banner .location > div img {
  width: 14px;
}

.banner .location > div p {
  color: white;
  letter-spacing: 1.5px;
}

.banner .location > div::after {
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  width: 100%;
  background-color: yellow;
  border-radius: 200px;
  bottom: -7px;
}

.banner > .title {
  position: absolute;
  width: 170px;
  top: 0;
  right: 10%;
  left: unset;
  z-index: 1;
}

.banner > .title .decoLine {
  width: 1px;
  height: 90px;
  display: block;
  margin: auto;
  position: relative;
}

.banner > .title .decoLine > span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
}

.banner > .title > div {
  width: 170px;
  height: 170px;
  margin: auto;
  position: relative;
}

.banner > .title > div > div {
  width: 100%;
  height: 100%;
  margin: auto;
  -webkit-transform-origin: center;
          transform-origin: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='5' stroke-dasharray='9' stroke-dashoffset='78' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 100%;
}

.banner > .title > div svg {
  position: absolute;
  width: 60px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  -webkit-filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.5));
}

.banner > .title > div svg .cls-1 {
  fill: #fff;
}

.banner > .title > div .show {
  display: block;
}

.banner > .title > p {
  color: white;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 36px;
  margin: auto;
  margin-top: 28px;
  height: 30vw;
  letter-spacing: 5.5px;
  text-shadow: -1px 1px 2px black;
}

.banner .mLogo {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 50vw;
  display: none;
  z-index: 1;
}

@media screen and (max-width: 1400px) {
  .banner .swiper-pagination > span {
    margin: 5px 0 !important;
  }
  .banner .title {
    right: 15%;
  }
  .banner .title .decoLine {
    height: 40px;
  }
  .banner .title > div {
    width: 120px;
    height: 120px;
  }
  .banner .title > div svg {
    width: 50px;
  }
  .banner .title > p {
    margin-top: 20px;
    letter-spacing: 2.5px;
    font-size: 28px;
  }
}

@media screen and (max-width: 980px) {
  .banner {
    height: 94vh;
  }
  .banner .mLogo {
    display: block;
    bottom: 40px;
  }
  .banner .location {
    display: none;
  }
  .banner .title {
    top: 30%;
    right: 10px;
  }
  .banner .title .decoLine {
    display: none;
  }
  .banner .title .setTitle {
    display: none;
  }
  .banner .swiper-pagination {
    right: 20px;
    width: 10px;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    padding-bottom: 40px;
  }
  .banner .swiper-pagination > span {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .banner .swiper-pagination > span > div {
    display: none;
  }
}

.explore {
  padding-top: 66px;
  position: relative;
  z-index: 1;
}

.explore > div .title {
  max-width: 355px;
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
}

.explore > div .title img {
  width: 100%;
}

.explore > div .title::after {
  content: "";
  display: block;
  position: absolute;
  width: 115px;
  height: 140px;
  background: url("../img/_icon.svg") no-repeat center center;
  left: 50%;
  top: 0;
  z-index: 100;
  -webkit-transform: translate(25vw, -10px);
          transform: translate(25vw, -10px);
}

.explore > div .article {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-align: center;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  margin-bottom: 140px;
}

.explore > div .article > * {
  width: 50%;
}

.explore > div .article .content > div {
  max-width: 380px;
  margin-left: auto;
  margin-right: 50px;
  position: relative;
}

.explore > div .article .content > div .subtitle {
  max-width: 150px;
  position: relative;
  margin-bottom: 22px;
}

.explore > div .article .content > div .subtitle::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 150px;
  background-color: #a70a0a;
  right: -15px;
  bottom: 0;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.explore > div .article .content > div .paragraph {
  font-size: 16px;
  line-height: 1.8;
  text-indent: 16px;
  letter-spacing: 2px;
}

.explore > div .article .content > div .paragraph > p {
  margin-bottom: 20px;
}

.explore > div .article .content > div::after {
  content: "";
  display: block;
  position: absolute;
  width: 15vw;
  height: 8vw;
  background: url("../img/_decoImg.svg") no-repeat center center;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-100%, 100%);
          transform: translate(-100%, 100%);
}

.explore > div .article figure {
  padding-left: 10px;
  position: relative;
}

.explore > div .article figure img {
  width: 100%;
}

.explore > div .article figure .decoText {
  display: block;
  width: 23vw;
  height: 13vw;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-20%, 50%);
          transform: translate(-20%, 50%);
  position: absolute;
}

.explore > div .artiRight {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 18vw;
}

.explore > div .artiRight .content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding-top: 50px;
}

.explore > div .artiRight .content > div {
  margin-right: auto;
  margin-left: 50px;
}

.explore > div .artiRight .content > div::after {
  top: 50%;
  bottom: unset;
  left: auto;
  right: 0;
  background-image: url("../img/_decoImg2.svg");
  -webkit-transform: translate(120%, 30%);
          transform: translate(120%, 30%);
}

.explore > div .artiRight figure {
  padding-left: unset;
  padding-right: 10px;
}

.explore > div .artiRight figure .decoText {
  left: unset;
  right: 0px;
  -webkit-transform: translate(30%, 50%);
          transform: translate(30%, 50%);
}

@media screen and (max-width: 1400px) {
  .explore {
    padding-top: 40px;
  }
  .explore > div .title {
    max-width: 300px;
  }
  .explore > div .title::after {
    width: 100px;
    height: 120px;
  }
  .explore > div .artiRight {
    margin-bottom: 140px;
  }
}

@-webkit-keyframes autoPlay {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes autoPlay {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.mapBlock {
  position: relative;
  z-index: 1;
}

.mapBlock > div {
  background-color: #a72a2e;
  position: relative;
}

.mapBlock > div .container {
  position: relative;
  top: -100px;
  max-width: 930px;
  width: 100%;
  padding: 25px;
  margin-right: 10%;
  margin-left: auto;
  background-color: #f3db23;
  -webkit-box-shadow: 10px 20px 30px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 20px 30px 1px rgba(0, 0, 0, 0.3);
}

.mapBlock > div .container .map {
  position: absolute;
  width: 30vw;
  top: 0;
  left: 0px;
  -webkit-transform: translate(-70%, 0);
          transform: translate(-70%, 0);
  z-index: 2;
}

.mapBlock > div .container .description {
  max-width: 525px;
  width: 100%;
  margin: auto;
  position: relative;
  padding-bottom: 60px;
}

.mapBlock > div .container .description .title {
  max-width: 460px;
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
}

.mapBlock > div .container .description .title img {
  width: 100%;
}

.mapBlock > div .container .description > p {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 1.5px;
}

.mapBlock > div .container .description .question {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.mapBlock > div .container .description .question::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 110%;
  height: 15px;
  border-radius: 100px;
  background-color: #fbf2ac;
  z-index: -1;
}

.mapBlock > div .container .description .detailBtn {
  width: 200px;
  height: 45px;
  border: 1px solid black;
  margin-top: 40px;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-align: center;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}

.mapBlock > div .container .description .detailBtn > img {
  max-width: 95px;
  width: 100%;
}

.mapBlock > div .container .description::after {
  position: absolute;
  content: "";
  display: block;
  width: 115px;
  height: 140px;
  background: url("../img/_icon.svg");
  bottom: 0;
  right: 0;
}

.mapBlock > div .container .dummyBlock {
  height: 25vw;
}

.mapBlock > div .carousel {
  position: absolute;
  z-index: 1;
  bottom: .4vw;
  right: 0;
  height: 30vw;
  width: 65vw;
  overflow: hidden;
}

.mapBlock > div .carousel .itemContainer {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-align: center;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  width: 400%;
  -webkit-animation-name: autoPlay;
          animation-name: autoPlay;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.mapBlock > div .carousel .itemContainer > div {
  width: calc(calc(100% / 8) - 10px);
  margin: 5px;
  position: relative;
}

.mapBlock > div .carousel .itemContainer > div > img {
  border-radius: 10px;
  width: 100%;
}

.mapBlock > div .carousel .itemContainer > div > a {
  width: 35%;
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.4vw;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='black' stroke-width='2' stroke-dasharray='5%2c 5%2c 5%2c 5' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 100px;
}

.mapBlock > div .carousel .itemContainer > div > a > img {
  width: 100%;
}

@media screen and (max-width: 1400px) {
  .mapBlock > div .container {
    max-width: 700px;
    margin-right: 5%;
  }
  .mapBlock > div .container .description {
    max-width: 500px;
  }
  .mapBlock > div .container .description .title {
    max-width: 400px;
    margin-bottom: 30px;
  }
  .mapBlock > div .container .description .detailBtn {
    width: 180px;
    height: 40px;
  }
  .mapBlock > div .carousel {
    bottom: 3vw;
  }
}

.videoSection {
  padding-top: 70px;
  position: relative;
  z-index: 1;
}

.videoSection div .title {
  max-width: 380px;
  width: 100%;
  margin: auto;
  margin-bottom: 60px;
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-align: center;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  position: relative;
}

.videoSection div .title > img {
  width: 100%;
}

.videoSection div .title .decoText {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 260px;
  -webkit-transform: translate(-50%, 20%);
          transform: translate(-50%, 20%);
}

.videoSection div .title > p {
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 3.5px;
  position: relative;
}

.videoSection div .title > p::before, .videoSection div .title > p::after {
  content: "";
  display: block;
  top: 50%;
  width: 40px;
  height: 2px;
  position: absolute;
  background-color: black;
}

.videoSection div .title > p::before {
  left: -10px;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.videoSection div .title > p::after {
  right: -10px;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.videoSection div .videoContainer {
  width: 150%;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.videoSection div .videoContainer .swiper-wrapper .swiper-slide {
  border-radius: 30px;
  overflow: hidden;
}

.videoSection div .videoContainer .swiper-wrapper .swiper-slide img {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */